.organizer-event {
    border-radius: 8px;
    margin: auto 4px;
    padding: 4px 8px;
    font-weight: 600;
    color: #1c1d20;
    white-space: nowrap;
    overflow: hidden;
    height: 36px;
    box-sizing: border-box;
}
