.organizer {
    grid-area: userContent;
    margin: 0 32px 20px;
    height: calc(88vh - 20px);
    overflow: auto;

    &__cols {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template: auto / repeat(auto-fit, 272px);
        gap: 16px;
    }

    &__col {
        grid-row: 1 / 2;
        width: 272px;
        // background: #f5f7fb;
        border-radius: 8px;

        &-title {
            margin: 0;
            text-align: center;
            font-size: 14px;
            font-weight: 400;
            line-height: 20px;
            color: #172b4d;
        }
    }
}
