.organizer {
    grid-area: userContent;
    padding: 0 32px 20px;
    height: calc(88vh - 20px);
    overflow: auto;

    &__calendar {
        // position: relative;
        display: grid;
        grid-template-columns: 30px auto 30px;
        gap: 8px;
    }

    &__columns {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template: auto / repeat(auto-fit, 272px);
        gap: 16px;
        align-items: start;
    }

    &__date {
        font-size: 24px;
        line-height: 30px;
        font-weight: 600;
        margin: 0 auto;
        // text-align: center;
        // width: calc(100% - 30px * 2);

        &_month {
            left: 0;
            margin: 0;
            margin-right: auto;
            border-left: 1px solid lightgrey;
            padding: 0 8px;
            grid-row: 1 / 2;
        }
    }

    &__button {
        font-size: 20px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background: white;
        height: 30px;
        width: 30px;
        padding: 0;

        &:hover {
            background: #f5f7fb;
        }
        // grid-row: 1 / 2;
        // width: 272px;
        // transition: none 0s ease 0s;
    }

    &__month-days {
        overflow: auto;
        grid-template-rows: 30px auto;
        gap: 4px;
        display: grid;
        padding-bottom: 4px;
    }

    &__month-day {
        padding: 8px;
        border-left: 1px solid lightgrey;
        border-right: 1px solid lightgrey;
        width: 40px;
        text-align: center;
        grid-row: 2 / 3;

        &_inactive {
            color: lightgrey;
            text-align: right;
        }

        &_current {
            background: lightblue;
        }
    }

    &__event {
        border-radius: 8px;
        padding: 4px 8px;
        font-weight: 600;
        color: #1c1d20;
        white-space: nowrap;
        overflow: hidden;
    }
}
