.organizer {
    grid-area: userContent;
    padding: 0 32px 20px;
    height: calc(88vh - 20px);
    overflow: auto;

    &__calendar {
        position: relative;
    }

    &__columns {
        list-style: none;
        margin: 0;
        padding: 0;
        display: grid;
        grid-template: auto / repeat(auto-fit, 272px);
        gap: 16px;
        align-items: start;
    }

    &__date {
        font-size: 24px;
        line-height: 38px;
        font-weight: 600;
        margin: 0;
        display: inline-block;
        text-align: center;
        width: calc(100% - (30px + 8px) * 4);
    }

    &__button {
        font-size: 20px;
        cursor: pointer;
        border: none;
        border-radius: 4px;
        background: white;
        height: 30px;
        width: 30px;
        padding: 0;
        margin: 4px;

        &:hover {
            background: lightgray;
        }
        // grid-row: 1 / 2;
        // width: 272px;
        // transition: none 0s ease 0s;
    }

    &__week-days {
        margin-top: 12px;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__week-day {
        min-width: 124px;
        font-weight: 600;
        padding: 8px;
        border: 1px solid lightgrey;
        background: #f5f7fb;
    }

    &__month-days {
        width: 100%;
        position: absolute;
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__month-day {
        padding: 8px;
        border: 1px solid lightgrey;
        min-height: 100px;
        min-width: 124px;

        &_inactive {
            color: lightgrey;
            text-align: right;
        }

        &_current {
            background: lightblue;
        }
    }

    &__events {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
    }

    &__event {
        min-height: 20px;
        background: lightgreen;

        &_start {
            margin-left: 20px;
            border-radius: 8px 0 0 8px;
        }

        &_end {
            margin-right: 20px;
            border-radius: 0 8px 8px 0;
        }
    }
}
