.profile-sidebar {
    &__navigation {
        // width: 268px;
        width: 20vw;
        min-width: 240px;
        position: fixed;
        display: grid;
        height: 100vh;
        grid-template-rows: 15vh auto 25vh;
        background: #3a78f2;
        border-radius: 0 40px 40px 0;
    }

    &__logo {
        grid-row: 1 / 2;
        padding: {
            left: 3vw;
        }
        align-self: center;
        max-width: 15vw;
        fill: white;
    }

    &__list {
        grid-row: 2 / 3;
        list-style: none;
        padding: 0 {
            left: 24px;
        }
        margin: 0 {
            right: 32px;
        }

        :hover {
            color: black;
            background: white;
            border-radius: 12px;

            svg {
                fill: #3a78f2;
            }

            p {
                color: #1c1d20;
                font-weight: 700;
            }
        }
    }

    &__item {
        height: 60px;
        color: white;
        cursor: pointer;
        display: flex;
        // gap: 1vw;

        svg {
            width: 18px;
            margin: auto 12px;
        }

        p {
            margin: auto 0;
            color: white;
            font-weight: 600;
            font-size: 17px;
            line-height: 23px;
            opacity: 0.8;
        }
    }

    &__footer {
        grid-row: 3 / 4;
        color: white;
        padding: {
            left: 2.5vw;
        }
        font-size: 0.75rem;
    }

    &__support {
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background: url(../../../assets/icons/supportIcon/support-icon.svg) no-repeat
            center white;
        width: 66px;
        height: 66px;
    }
}
