.form-element-title {
    height: 74px;
    font-weight: 700;
    font-size: 57px;
    line-height: 74px;
    text-align: center;
    color: rgba(27, 49, 75, 1);

    &_input {
        margin: 7px 0;
        border-radius: 10px;
        grid-column: 1 / 3;
        border: 1px solid black;

        &::placeholder {
            color: rgba(27, 49, 75, 1);
            opacity: 0.3;
        }
    }

    &_title {
        padding: {
            bottom: 24px;
        }
        margin: 0;
    }
}
