.user {
    display: grid;
    grid-template: 12vh auto / minmax(300px, 20vw) minmax(700px, 80vw);
    grid-template-areas:
        'userSidebar userHeader'
        'userSidebar userContent';

    &_collapsed {
        grid-template: 12vh auto / 80px auto;
        grid-template-areas:
            'userSidebar userHeader'
            'userSidebar userContent';
    }
}

.preload * {
    // Dry this up a bit with SCSS variable
    $null-transition: none !important;

    -webkit-transition: $null-transition;
    -moz-transition: $null-transition;
    -ms-transition: $null-transition;
    -o-transition: $null-transition;
    transition: $null-transition;
}
