.form-element-checkbox-required {
    font-size: 12px;
    color: rgba($color: #999, $alpha: 1);
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-self: center;
    align-self: center;

    &__input {
        display: none;

        &:checked + .form-element-checkbox-required__checkbox::after {
            content: '\2713';
        }
    }

    &__checkbox {
        cursor: pointer;
        height: 15px;
        width: 15px;
        border: 1px solid rgba($color: #999, $alpha: 1) {
            radius: 5px;
        }
        margin: 0 {
            top: 1px;
            left: 10px;
        }
        text-align: center;
        line-height: 15px;
        font-size: 15px;
    }
}
