.form-element-range {
    &__field {
        display: flex;
        grid-column: 1 / 3;
        width: 100%;
        justify-content: space-around;
    }

    &__value {
        width: 20%;
        margin: 0;
        text-align: center;
        padding: 16px 0;
        font-weight: bold;
    }

    &__input {
        margin: 7px 0;
        box-sizing: border-box;
        padding: 0;
        width: 45%;
        height: 40px;

        &:disabled {
            width: 100%;
        }

        &_final-form {
            width: 70%;
        }

        &_minmaxstep {
            border-radius: 10px;
            border: 1px solid black;
            text-align: center;
            padding: 5px;
            width: 10%;
        }
    }
}
