.form-element-title {
    height: 74px;
    font-weight: 700;
    font-size: 57px;
    line-height: 74px;
    text-align: center;
    color: rgba(27, 49, 75, 1);

    &_input {
        outline: none;
        margin: 8px 0;
        border-radius: 6px;
        grid-column: 1 / 3;
        border: 0.5px solid #a9abba;
        background: #f5f7fb;
        box-sizing: border-box;

        &::placeholder {
            color: rgba(27, 49, 75, 1);
            opacity: 0.6;
        }

        &:hover {
            border: 1px solid #4f8be4;
        }

        &:focus {
            border: 1px solid #4f8be4;
        }

        &:invalid {
            border: 1px solid #e84141;
        }
    }

    &_title {
        padding: {
            bottom: 24px;
        }
        margin: 0;
    }
}
