.schools-list-item {
    display: flex;
    justify-content: space-between;
    padding: 0 8px;
    border-bottom: 1px solid rgba($color: #000, $alpha: 0.2);
    border-right: 0.5px solid #a9abba;
    cursor: default;
    // background: #f5f7fb;

    &:last-of-type {
        border: none;
    }

    &__title {
        margin: auto 0;
    }
}
