.form-element-radio {
    margin: 8px 0;
    grid-column: 1 / 3;

    &__label {
        display: grid;
        grid-template-columns: 34px 80% 20px;
        align-items: center;
        margin: {
            top: 10px;
        }

        &:first-of-type {
            margin: 0;
        }
    }

    &__input {
        display: none;

        &:checked + .form-element-radio__custom-radio::after {
            color: #4f8be4;
            content: '\2713';
        }

        &:disabled + .form-element-radio__custom-radio {
            cursor: default;
            border: 0.5px solid #a9abba;
        }
    }

    &__custom-radio {
        cursor: pointer;
        height: 32px;
        width: 32px;
        background: #f5f7fb;
        border: 0.5px solid #a9abba;
        border-radius: 50%;
        text-align: center;
        line-height: 32px;
        font-size: 32px;

        &:hover {
            border: 1px solid #4f8be4;
        }
    }

    &__title {
        width: 100%;
        margin: 0;
        padding: {
            left: 10px;
        }
        line-height: 34px;

        &-input {
            outline: none;
            box-sizing: border-box;
            width: calc(100% - 10px);
            height: 26px;
            background: #f5f7fb;
            margin: {
                left: 10px;
            }
            padding: 0 18px;
            border: 0.5px solid #a9abba;
            border-radius: 6px;

            &:hover {
                border: 1px solid #4f8be4;
            }

            &:focus {
                border: 1px solid #4f8be4;
            }
        }
    }
}
