.user-edit-name {
    display: grid;
    min-width: 371px;
    min-height: 220px;
    place-items: center;
    gap: 10px;

    &__button {
        margin: {
            bottom: 20px
        };
        cursor: pointer;
        user-select: none;
        height: 36px;
        width: 70%;
        color: white;
        background: #4f8be4;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.3px;
        transition: filter linear 0.2s;
        border: 1px solid #4f8be4 {
            radius: 8px;
        }

        &:hover {
            filter: drop-shadow(-8px 8px 8px rgba(42, 83, 145, 0.3));
        }

        &:active {
            filter: none;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}
