.checkbox {
    grid-column: 1 / 2;

    &__input {
        display: none;

        &:checked + .checkbox__custom-checkbox::after {
            color: #4f8be4;
            content: '\2713';
        }

        &:disabled + .checkbox__custom-checkbox {
            cursor: default;
            border: 0.5px solid #a9abba;
        }
    }

    &__custom-checkbox {
        cursor: pointer;
        height: 32px;
        width: 32px;
        background: #f5f7fb;
        border: 0.5px solid #a9abba;
        border-radius: 6px;
        margin: 8px 0;
        text-align: center;
        line-height: 32px;
        font-size: 32px;

        &:hover {
            border: 1px solid #4f8be4;
        }
    }
}
