.user-profile {
    grid-area: userContent;
    display: grid;
    margin: {
        left: 3vw;
    }

    &-tabs {
        width: 850px;
        height: 48px;
        display: grid;
        grid-template-columns: repeat(3, 20%);
        // grid-template-rows: 5% auto;
        list-style: none;
        margin: 0;
        padding: 0;

        align-items: flex-end;
    }
}
