.user-profile {
    grid-area: userContent;
    display: grid;
    grid-template-rows: 5% auto;
    width: 100%;
    margin: {
        top: 4vh;
        left: 3vw;
    };

    &-tabs {
        display: grid;
        grid-template-columns: repeat(3, 20%);
        list-style: none;
        margin: 0;
        padding: 0;

        &__item {
            height: 16px;
            color: #a9abba;
            font-size: 12px;
            line-height: 16px;
            font-weight: 600;
            border: {
                bottom: 1px solid #a9abba;
            }
            padding: {
                bottom: 9px;

            }
            text-align: center;
        }
        &__link {
            text-decoration: none;
        }

        &__text {
            color: #a9abba;
        }
    }
}
