.button {
  cursor: pointer;
  margin: 5px;
  width: 100px;
  height: 30px;
  background: none;
  color: #3374A2;
  border: 2px solid #3374A2 {
    radius: 5px;
  }
  transition: opacity linear .2s;

  &:hover {
    opacity: .7;
  }

  &_type_filled {
    background: #3374A2;
    color: white;
  }
}