.button {
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    width: 10vw;
    height: 40px;
    background: none;
    color: #3374a2;
    border: 1px solid #3374a2 {
        radius: 6px;
    }
    transition: opacity linear 0.2s, background linear 0.2s;

    &:hover {
        opacity: 0.8;
        background: #eee;
    }

    &_type_filled {
        background: #3374a2;
        color: white;

        &:hover {
            background: #3374a2;
        }
    }
}
