.form-element-list {
    margin: 7px 0;
    grid-column: 1 / 3;

    &__input {
        border: 1px solid black;
        border-radius: 10px;
        padding: 0 26px;
        height: 51px;
        background: none;
        box-sizing: border-box;
        width: 100%;

        &_datalist {
            width: 80%;
            margin: 10px 0 0 {
                left: 15%;
            }
            height: 30px;
        }
    }

    &__button {
        background: lightblue;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        width: 30%;
        margin: 0 {
            left: 70%;
            top: 20px;
        }
        padding: 0;

        &:hover {
            opacity: 0.8;
        }
    }
}
