.handbook-searchbar {
    outline: none;
    box-sizing: border-box;
    width: 80%;
    height: 48px;
    background: #f5f7fb;
    padding: 0 3%;
    margin: {
        right: 8px;
    }
    border: none;
    border-radius: 8px;

    &:hover {
        border: {
            bottom: 1px solid rgba($color: #979dbb, $alpha: 0.4);
        }
    }

    &:focus {
        border: {
            bottom: 1px solid rgba($color: #979dbb, $alpha: 0.4);
        }
    }

    &::placeholder {
        font-weight: 400;
        font-size: 14px;
        line-height: 13px;
        color: #a9abba;
    }
}
