.checkbox-input {
    display: grid;
    grid-template: 32px / 32px auto;
    gap: 8px;

    &__input {
        display: none;

        &:checked + .checkbox-input__custom-checkbox::after {
            content: '\2713';
        }
    }

    &__custom-checkbox {
        cursor: pointer;
        height: 32px;
        width: 32px;
        outline: none;
        background: #f5f7fb;
        border: 0.5px solid #a9abba;
        border-radius: 6px;
        font-weight: 600;
        font-size: 32px;
        line-height: 32px;
        box-sizing: border-box;
        text-align: center;
        color: #4f8be4;

        &:hover {
            border: 0.5px solid #4f8be4;
        }
    }
}
