.sidebar {
    position: fixed;
    top: 0;
    left: -400px;
    height: 100%;
    transition: left linear 0.2s;

    &_active {
        left: 0;
        width: 100%;
    }

    &__navigation {
        border-radius: 0 40px 40px 0;
        background: #3a78f2;
        width: 20vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
    }

    &__logo {
        margin: {
            top: 65px;
            left: 40px;
            right: 20px;
        }
        max-width: 164px;
    }

    &__list {
        padding: 10px;
        margin: {
            top: 50px;
            left: 30px;
        }
        list-style: none;
    }

    &__item {
        margin: {
            bottom: 35px;
        }
        font : {
            size: 1.06rem;
            weight: 400;
        }
        color: white;
        cursor: pointer;
        display: flex;
        gap: 10px;
    }

    &__footer {
        margin: auto {
            left: 40px;
        }
        color: white;
        font-size: 0.75rem;
    }

    &__audio {
        border-radius: 50%;
        height: 66px;
        width: 66px;
        border: none;
        cursor: pointer;
    }
}
