.form-element-subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    color: rgba(38, 50, 56, 1);

    &__input {
        resize: none;
        outline: none;
        margin: 8px 0;
        border-radius: 6px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        border: 0.5px solid #a9abba;
        background: #f5f7fb;
        box-sizing: border-box;

        &::placeholder {
            color: rgba(38, 50, 56, 1);
            opacity: 0.4;
        }

        &:hover {
            border: 1px solid #4f8be4;
        }

        &:focus {
            border: 1px solid #4f8be4;
        }

        &:disabled {
            & + .drag-icon {
                grid-row: span 2;
            }

            &::placeholder {
                opacity: 1;
            }

            &:hover {
                border: 0.5px solid #a9abba;
            }
        }
    }

    &__title {
        padding: {
            bottom: 24px;
        }
        margin: 0;
    }
}
