@media only screen and (max-width: 760px) {
    .user-header {
        width: 100%;
        grid-area: 2 / 1 / 3 / 1;
        height: 7vh;
        grid-template-rows: none;
    }

    .form-switch {
        display: none;
    }
}