.user-header {
    grid-area: userHeader;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 60% 30% auto;
    align-items: center;
    position: sticky;
    top: 0;
    right: 0;
    background: white;

    &__wrapper {
        display: flex;
        justify-content: space-between;
    }

    &__title {
        margin: 0;
        padding: {
            left: 36px;
        }
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        color: #1c1d20;
        opacity: 0.8;
    }

    &__avatar {
        width: 48px;
        height: 48px;
        justify-self: center;
        background: #A9ABBA no-repeat center;
        background-size: cover;
        border-radius: 50%;
        cursor: pointer;
    }
}