.modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;

    &_active {
        display: block;
    }

    &__content {
        width: 240px;
        filter: drop-shadow(8px 4px 15px rgba(42, 83, 145, 0.15));
        border-radius: 10px;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background: #fff;
    }

    &__item {
        background: #fff;

        &:hover {
            border-radius: 8px 8px 0 0;
            background: #4f8be4;
            filter: drop-shadow(0 -4px 2px rgba(42, 83, 145, 0.15));

            & + .modal__item {
                background: #4f8be4;

                & .modal__button {
                    background: #fff;
                    border-radius: 8px 8px 0 0;
                    filter: drop-shadow(0 -4px 1px rgba(42, 83, 145, 0.15));
                }
            }
        }
    }

    &__button {
        cursor: pointer;
        width: 240px;
        height: 40px;
        border: none;
        background: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #a9abba;

        &:hover {
            font-weight: 700;
            color: #fff;
        }
    }
}
