.modal {
    cursor: default;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    background: none;
    z-index: 999999999;

    &_active {
        display: block;
    }

    &__content {
        width: 240px;
        filter: drop-shadow(8px 4px 15px rgba(42, 83, 145, 0.15));
        border-radius: 8px;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        background: #fff;

        &_report-create-item {
            width: 210px;
            display: grid;
            grid-template-columns: 170px 40px;
        }

        &_filter {
            width: 320px;
        }
    }

    &__item {
        background: #fff;

        &:hover {
            border-radius: 8px 8px 0 0;
            background: #4f8be4;
            filter: drop-shadow(0 -4px 2px rgba(42, 83, 145, 0.15));

            & + .modal__item {
                background: #4f8be4;

                & .modal__button {
                    background: #fff;
                    border-radius: 8px 8px 0 0;
                    filter: drop-shadow(0 -4px 1px rgba(42, 83, 145, 0.15));
                }
            }
        }

        &_active {
            border-radius: 8px 8px 0 0;
            background: #4f8be4;
            filter: drop-shadow(0 -4px 2px rgba(42, 83, 145, 0.15));

            & .modal__button {
                color: #fff;
            }

            & + .modal__item {
                background: #4f8be4;

                & .modal__button {
                    background: #fff;
                    border-radius: 8px 8px 0 0;
                    filter: drop-shadow(0 -4px 1px rgba(42, 83, 145, 0.15));
                }
            }
        }

        &_report-create-item {
            height: 40px;
            &:hover {
                border-radius: 8px 0 0 8px;
                filter: drop-shadow(-4px 0 2px rgba(42, 83, 145, 0.15));

                & + .modal__item {
                    & .modal__trash {
                        background: #fff;
                        border-radius: 8px 0 0 8px;
                        filter: drop-shadow(-4px 0 1px rgba(42, 83, 145, 0.15));
                    }
                }
            }
        }

        &_filter {
            &:first-child {
                &:hover {
                    background: white;
                    filter: none;

                    & + .modal__item {
                        background: white;

                        & .modal__button {
                            filter: none;
                        }
                    }
                }
            }
        }
    }

    &__button {
        cursor: pointer;
        width: 100%;
        height: 40px;
        border: none;
        background: none;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #a9abba;

        &:hover {
            font-weight: 700;
            color: #fff;
        }
    }

    &__trash {
        cursor: pointer;
        width: 40px;
        height: 40px;
        padding: 8px;
        border: none;
        background: none;
        box-sizing: border-box;

        &:hover {
            fill: #e84141;
        }

        &:active {
            fill: #a9abba;
        }
    }

    &__checkbox {
        height: 40px;
        width: 100%;
        font-weight: 600;
        font-size: 12px;
        line-height: 16px;
        color: #a9abba;
        display: flex;
        flex-direction: row;
        cursor: pointer;
        align-items: center;
        // justify-content: center;

        &:hover {
            font-weight: 700;
            color: #fff;

            & .modal__checkbox-custom-checkbox {
                border: 0.5px solid #fff;
            }

            &
                .modal__checkbox-input:checked
                + .modal__checkbox-custom-checkbox::after {
                color: #fff;
            }
        }

        &-input {
            display: none;

            &:checked + .modal__checkbox-custom-checkbox::after {
                color: #4f8be4;
                content: '\2713';
            }
        }

        &-custom-checkbox {
            cursor: pointer;
            height: 20px;
            width: 20px;
            border: 0.5px solid #a9abba;
            border-radius: 6px;
            margin: 10px;
            text-align: center;
            line-height: 20px;
            font-size: 18px;
            box-sizing: border-box;
        }
    }
}
