.change-password {
    padding: {
        top: 200px;
    }
    margin: auto;
    max-width: 360px;

    &__logo {
        display: block;
        margin: 0 auto 60px;
    }

    &__title {
        color: rgba($color: #1c1d20, $alpha: 0.7);
        font-weight: 600;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.3px;
        text-align: center;
        margin: 0;
        padding: {
            bottom: 36px;
        }
    }

    &__button {
        cursor: pointer;
        width: 100%;
        color: #4f8be4;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.3px;
        background: none;
        border: 1px solid #4f8be4;
        border-radius: 6px;
        height: 36px;
        transition: opacity linear 0.2s;
        margin: {
            top: 20px;
        }

        &:hover {
            opacity: 0.8;
        }
    }
}
