.user-home-card {
    @keyframes card {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
    font-weight: bold;
    background: #f5f7fb;
    border-radius: 8px;
    height: 300px;
    display: grid;
    gap: 20px;
    grid-template-rows: 60% auto;
    cursor: pointer;

    padding: 30px {
        left: 27px;
    }

    svg {
        align-self: end;
    }

    &__text {
        font-weight: 600;
    }

    &:hover {
        animation: card 0.4s ease;
        background: linear-gradient(
            214.01deg,
            rgba(79, 139, 228, 0.8) 1.1%,
            #3a78f2 98.17%
        );
        box-shadow: 2px 4px 25px rgba(42, 83, 145, 0.4);
        color: #fff;
        svg {
            fill: white;
        }
    }
}
