.password-recovery {
    padding: {
        top: 200px;
    }
    margin: auto;
    max-width: 360px;

    &__logo {
        display: block;
        margin: 0 auto 60px;
    }

    &__title {
        color: rgba($color: #1c1d20, $alpha: 0.7);
        font-weight: 600;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.3px;
        text-align: center;
        margin: 0;
        padding: {
            bottom: 36px;
        }
    }
}
