.handbook-item {

    @keyframes handbook-item {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    animation: 0.5s handbook-item ease;

    display: grid;
    grid-template-columns: 40% 10% repeat(2, 3%);
    gap: 20px;
    align-items: center;

    &__placeholder {
        min-width: 340px;
        margin: 0 130px 0 0;
        font-weight: 400;
        font-size: 16px;
        background: #f5f7fb;
        height: 25px;
        border-radius: 10px;
        padding: 0 3%;
        display: flex;
        align-items: center;
    }

    &__value {
        min-width: 70px;
        text-align: center;
        box-sizing: border-box;
        border: 1px solid #4F8BE4;
        border-radius: 5px;
        padding: 3px 16px 2px 16px;
        margin: 0;
    }

    &__button {
        justify-self: center;
        cursor: pointer;

        &:hover {
            filter: drop-shadow(-2px 2px 2px rgba(42, 83, 145, 0.3));
            fill: #4F8BE4;
        }

        &:active {
            filter: none;
        }
    }
}