.custom-form {
    padding: 60px {
        left: 13%;
        right: 10%;
    }
    width: 100%;
    min-width: 510px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__field {
        padding: 20px 0;
        margin: {
            bottom: auto;
        }
        align-self: stretch;
    }

    &__form-placeholder {
        text-align: center;
        margin: 0;
        padding: {
            top: 100px;
        }
        font-size: 40px;
        font-weight: 600;
        text-decoration: underline;
        cursor: default;
    }
}

