.organizer-edit-popup {
    padding: 16px;
    display: grid;
    grid-template-columns: 300px 160px;
    gap: 16px;

    &__column {
        display: grid;
        gap: 8px;
    }

    &__label {
        cursor: pointer;
        color: #172b4d;
        font-size: 14px;
        display: grid;
    }

    &__input {
        cursor: default;
        box-sizing: border-box;
        height: 32px;
        width: 100%;
        outline: none;
        border-radius: 6px;
        border: 1px solid #a9abba;
        background: #f5f7fb;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        padding: 4px;

        &:hover {
            border: 0.5px solid #4f8be4;
        }

        &:focus {
            border: 2px solid #4f8be4;
        }
    }

    &__title {
        cursor: pointer;
        padding: 0 4px;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        color: #172b4d;
    }
}
