.organizer-edit-popup {
    padding: 16px;
    display: grid;
    grid-template-columns: 300px 160px;
    align-items: start;
    gap: 16px;

    &__header {
        grid-column: span 2;
        display: grid;
        grid-template-columns: auto 48px;
    }

    &__column {
        display: grid;
        gap: 8px;
        min-height: auto;
        grid-template-rows: auto;
    }

    &__trash {
        cursor: pointer;
        box-sizing: border-box;
        height: 32px;
        width: 32px;
        padding: 4px;
        transition: fill ease 0.2s, background ease 0.2s;
        margin-left: 16px;
        border-radius: 6px;

        &:hover {
            fill: #e84141;
            background: #f5f7fb;
        }

        &:active {
            fill: #a9abba;
        }
    }

    &__label {
        cursor: pointer;
        color: #172b4d;
        font-size: 14px;
        display: grid;
        grid-template-rows: 24px auto;
    }

    &__input {
        cursor: default;
        box-sizing: border-box;
        height: 32px;
        width: 100%;
        outline: none;
        border-radius: 6px;
        border: 1px solid #a9abba;
        background: #f5f7fb;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;
        padding: 4px;

        &:hover {
            border: 0.5px solid #4f8be4;
        }

        &:focus {
            border: 2px solid #4f8be4;
        }
    }

    &__title {
        cursor: pointer;
        padding: 0 4px;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 32px;
        color: #172b4d;
        border-radius: 6px;
        background: #f5f7fb no-repeat
            url(../../../../../../assets/icons/commonIcons/edit-icon.svg) center
            right -40px;
        transition: background ease 0.1s;

        &:hover {
            background: #f5f7fb no-repeat
                url(../../../../../../assets/icons/commonIcons/edit-icon.svg)
                center right 8px;
        }
    }

    &__subtitle {
        padding: 8px;
        white-space: pre-line;
        margin: 0;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #172b4d;
        border-radius: 8px;
        min-height: 292px;
        box-sizing: border-box;
        background: #f5f7fb no-repeat
            url(../../../../../../assets/icons/commonIcons/edit-icon.svg) top
            8px right -40px;
        transition: background ease 0.1s;

        &:hover {
            background: #f5f7fb no-repeat
                url(../../../../../../assets/icons/commonIcons/edit-icon.svg)
                top 8px right 8px;
        }
    }

    &__textarea {
        background: #f5f7fb;
        border-radius: 8px;
        border: 2px solid white;
        outline: none;
        resize: none;
        box-sizing: border-box;
        padding: 4px 8px;
        vertical-align: top;
        min-height: 32px;
        width: 100%;
        line-height: 20px;
        font-size: 16px;
        font-weight: 400;
        color: #172b4d;

        &:focus {
            border: 2px solid #4f8be4;
        }
    }
}
