.form-elements {
  max-width: 440px;
  border-right: 1px solid rgba(0, 0, 0, .5);
  padding-left: 74px;
  padding-right: 68px;
  box-sizing: border-box;

  &__title {
    margin: 0;
    padding-bottom: 32px;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
  }
}