.form-element-textarea {
    grid-column: 1 / 3;
    border: 1px solid black;
    background: none;
    margin: 7px 0;
    box-sizing: border-box;
    padding: 12px 26px;
    border-radius: 10px;
    resize: none;
}
