.organizer-task {
    height: 20px;
    padding: 4px;
    text-align: center;
    border-radius: 8px;
    border: 1px solid lightgray;
    background: white;

    &_dragging {
        filter: drop-shadow(-8px 8px 8px rgba(42, 83, 145, 0.15));
    }
}
