.report-text {
    margin: 0;
    font-size: 1rem;
    line-height: 1rem;
    text-align: center;

    &_text {
        text-align: left;
        padding-left: 8px;
    }

    &_h6 {
        font-size: 1.5rem;
        line-height: 1.5rem;
    }

    &_h5 {
        font-size: 2rem;
        line-height: 2rem;
    }

    &_h4 {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    &_h3 {
        font-size: 3rem;
        line-height: 3rem;
    }

    &_h2 {
        font-size: 3.5rem;
        line-height: 3.5rem;
    }

    &_h1 {
        font-size: 4rem;
        line-height: 4rem;
    }
}
