.form-element-label-input {
    height: 24px;
    font-size: 15px;
    line-height: 24px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border-radius: 10px;
    border: none;
    background: none;
    grid-column: 1 / 2;

    &:hover {
        border: 1px solid black;
    }

    &:disabled {
        &:hover {
            border: none;
        }
    }
}
