.form-element-input {
    height: 48px;
    outline: none;
    padding: 16px 18px;
    background: #f5f7fb;
    border: 0.5px solid #a9abba;
    border-radius: 6px;
    box-sizing: border-box;
    margin: 8px 0;
    grid-column: 1 / 3;

    &::placeholder {
        color: #a9abba;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.3px;
    }

    &:hover {
        border: 1px solid #4f8be4;
    }

    &:focus {
        border: 1px solid #4f8be4;
    }

    &:valid {
        border: 1px solid #3fac50;
    }

    &-invalid {
        border: 1px solid #e84141 !important;
    }

    &:disabled {
        &:hover {
            border: 0.5px solid #a9abba;
        }
    }
}
