.constructor-breadcrumbs {
    display: grid;
    grid-template: 70px 27px / 75px minmax(75px, 100%) 75px minmax(75px, 100%) 75px;
    align-items: center;
    justify-items: center;

    & svg:nth-of-type(odd) {
        cursor: pointer;
    }

    &_active {
        color: #4f8be4 !important;
        fill: #4f8be4;
        stroke: #4f8be4;
    }

    &_complete {
        color: #25c48c !important;
        fill: #25c48c;
        stroke: #25c48c;
    }

    &__text {
        cursor: pointer;
        user-select: none;
        color: #a9abba;
        font-weight: 600;
        font-size: 14px;
        line-height: 19px;
        margin: 0;
        padding: {
            top: 8px;
        }

        &:nth-of-type(1) {
            grid-row: 2 / 3;
            grid-column: 1 / 2;
        }

        &:nth-of-type(2) {
            grid-row: 2 / 3;
            grid-column: 3 / 4;
        }

        &:nth-of-type(3) {
            grid-row: 2 / 3;
            grid-column: 5 / 6;
        }
    }
}
