.login {
    padding: {
        top: 200px;
    }
    margin: auto;
    max-width: 360px;

    &__logo {
        display: block;
        margin: 0 auto 110px;
    }

    &__forgot-question {
        cursor: pointer;
        color: #007aff;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.3px;
        text-align: right;
        margin: 0;
        padding: 4px 0 12px;
        transition: opacity linear 0.2s;

        &:hover {
            opacity: 0.8;
        }
    }

    &__question {
        color: #1a1a1a;
        font-size: 12px;
        line-height: 20px;
        letter-spacing: 0.3px;
        text-align: center;
        margin: 0 {
            top: 20px;
        }
        padding: {
            top: 16px;
        }
        border: {
            top: 0.5px solid #e5e5e5;
        }

        &-span {
            cursor: pointer;
            padding: {
                left: 8px;
            }
            color: #007aff;
            transition: opacity linear 0.2s;

            &:hover {
                opacity: 0.8;
            }
        }
    }
}
