.user-communications {
    grid-area: userContent;
    padding: 0 36px 0 36px;
    height: 88vh;
    display: grid;
    grid-template-rows: 5% 80% auto;

    &__header {
        place-self: center;
    }
}
