@keyframes collapse {
    from {
        width: 20vw;
    }
    to {
        width: 80px;
    }
}

@keyframes expand {
    from {
        width: 80px;
    }
    to {
        width: 20vw;
    }
}

.user-sidebar {
    grid-area: userSidebar;
    z-index: 999;
    width: 20vw;
    min-width: 80px;
    position: fixed;
    display: grid;
    height: 100vh;
    grid-template-rows: 15vh auto 25vh;
    background: #3a78f2;
    border-radius: 0 40px 40px 0;
    animation: 0.2s expand backwards;


    &_collapsed {
        animation: 0.3s collapse forwards;
        width: 80px;
        border-radius: 0 20px 20px 0;
        justify-items: center;
    }

    &__header {
        padding: {
            left: 24px;
            right: 32px;
        }
        align-self: center;
        display: grid;
        grid-template-areas:
            'logo burger'
            'paragraph paragraph';

        &_collapsed {
            padding: 0 {
                left: 0.7vw;
                right: 0.7vw;
            }
        }
    }

    &__burger {
        cursor: pointer;
        place-self: center;
    }

    &__logo {
        padding: {
            left: 24px;
            right: 32px;
        }
        align-self: center;
    }

    &__caption {
        color: #efefef;
        font-weight: 400;
        font-size: 12px;
        line-height: 12.19px;
    }

    &__list {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        grid-row: 2 / 3;
        list-style: none;
        padding: 0 {
            left: 0.7vw;
            right: 0.7vw;
        }

        :hover {
            background: white;
            border-radius: 12px;

            svg {
                fill: #3a78f2;
            }

            .sidebar-item__text {
                color: #1c1d20;
                font-weight: 500;
            }
        }

        &_collapsed {
            width: 50px;
        }
    }

    &__footer {
        grid-row: 3 / 4;
        color: white;
        padding: {
            left: 1.5vw;
            top: 4vh;
            bottom: 1vh;
        }
        font-size: 0.75rem;
        display: grid;
        // flex-direction: column;
        gap: 10px;
        // justify-content: center;

        &_collapsed {
            padding: 0;
        }
    }

    &__politics {
        margin: 0;
    }

    &__support {
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background: url(../../../../assets/icons/commonIcons/support-icon.svg)
            no-repeat center white;
        width: 50px;
        height: 50px;
    }
}
