@media only screen and (max-width: 760px) {
    .user-sidebar {
        grid-area: none;
        grid-template-columns: auto 8vw;
        grid-template-rows: 1fr;
        grid-row: 1 / 2;
        width: 100%;
        height: 7vh;
        border-radius: 0;

        &_collapsed {
            grid-template-columns: auto;
        }

        &__header {
            grid-area: 1 / 2 / 1 / 3;

            &_collapsed {
                grid-area: 1 / 1 / 1 / 1;
                width: 100%;
                justify-content: space-between;
            }
        }

        &__logo {
            display: none;

            &_collapsed {
                display: inherit;
            }
        }

        &__caption {
            display: none;
        }

        &__list {
            grid-area: 1 / 1 / 1 / 2;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            margin: 0;

            &_collapsed {
                display: none;
            }
        }

        &__footer {
            display: none;
        }
    }

    .sidebar-item {
        height: 5vh;
        width: auto;

        &__text {
            display: none;
        }
    }
}
