.user-sidebar {
    grid-area: userSidebar;
    z-index: 999;
    // width: 268px;
    width: 20vw;
    min-width: 300px;
    position: fixed;
    display: grid;
    height: 100vh;
    grid-template-rows: 15vh auto 25vh;
    background: #3a78f2;
    border-radius: 0 40px 40px 0;

    &__logo {
        grid-row: 1 / 2;
        padding: {
            left: 3vw;
        }
        align-self: center;
        max-width: 15vw;
        fill: white;
    }

    &__caption {
        color: #efefef;
        font-weight: 400;
        font-size: 12px;
        line-height: 12.19px;
    }

    &__list {
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 4px;
        grid-row: 2 / 3;
        list-style: none;
        padding: 0 {
            left: 24px;
        }
        margin: 0 {
            right: 32px;
        }

        :hover {
            background: white;
            border-radius: 12px;

            svg {
                fill: #3a78f2;
            }

            .sidebar-item__text {
                color: #1c1d20;
                font-weight: 500;
            }
        }
    }

    &__footer {
        grid-row: 3 / 4;
        color: white;
        padding: {
            left: 2.5vw;
            top: 4vh;
        }
        font-size: 0.75rem;
    }

    &__support {
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background: url(../../../../assets/icons/commonIcons/support-icon.svg)
            no-repeat center white;
        width: 66px;
        height: 66px;
    }
}
