@media only screen and (max-width: 760px) {
    .user-sidebar {
        grid-area: none;
        grid-template-columns: 8vw auto;
        grid-template-rows: 1fr;
        grid-row: 1 / 2;

        &_collapsed {
            width: 100%;
            height: 7vh;
            border-radius: 0;
        }

        &__header {
            grid-area: 1 / 1 / 2 / 2;
        }

        &__list {
            grid-area: 1 / 2 / 2 / 3;
            width: 100%;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            margin: 0;
            padding: {
                right: 1vw;
                left: 1vw;
            }
        }

        &__footer {
            display: none;
        }
    }

    .sidebar-item {
        height: 5vh;
        width: auto;
    }
}
