.user-home-popup {
    max-width: 50vw;
    max-height: 80vh;
    display: grid;
    place-items: center;
    padding: 30px;
    gap: 20px;
    

    &__title {
        margin: 0;
    }

    &__content {
        max-height: 70vh;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__paragraph {
        text-indent: 30px;
        margin: 0;
    }

    &__list {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    &__header {
        margin: 0 {
            top: 20px;
        }
        font-style: italic;
    }
}
