.form-element-radio {
    margin: 7px 0;
    grid-column: 1 / 3;

    &__label {
        display: grid;
        grid-template-columns: 31px 80% 20px;
        align-items: center;
        margin: {
            top: 10px;
        }

        &:first-of-type {
            margin: 0;
        }
    }

    &__input {
        display: none;

        &:checked + .form-element-radio__custom-radio::after {
            content: '\2713';
        }

        &:disabled + .form-element-radio__custom-radio {
            background: none;
            cursor: default;
        }
    }

    &__custom-radio {
        cursor: pointer;
        height: 29px;
        width: 29px;
        border: 1px solid rgba($color: #000, $alpha: 1) {
            radius: 50%;
        }
        margin: 7px 0;
        text-align: center;
        line-height: 29px;
        font-size: 29px;
    }

    &__title {
        width: 100%;
        margin: 7px 0;
        padding: {
            left: 10px;
        }
        line-height: 30px;

        &-input {
            box-sizing: border-box;
            width: 98%;
            height: 26px;
            background: none;
            margin: {
                left: 10px;
            }
            padding: {
                left: 10px;
            }
            border: 1px solid rgba($color: #000, $alpha: 1) {
                radius: 10px;
            }
        }
    }

    &__button {
        background: lightblue;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 5px;
        text-align: center;
        width: 30%;
        margin: 0 {
            left: 70%;
            top: 20px;
        }
        padding: 0;

        &:hover {
            opacity: 0.8;
        }
    }
}
