@mixin scrollbars(
    $size,
    $foreground-color,
    $background-color: mix($foreground-color, white, 0%)
) {
    ::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 10px;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }
}

@include scrollbars(10px, #3374a2);

.search-form {
    padding: 0 {
        bottom: 20px;
    }

    &__content {
        border-radius: 10px;
        background-color: white;
        width: 50vw;
        overflow: hidden;
    }

    &__input {
        background: none;
        height: 51px;
        padding: 0 26px;
        border-radius: 10px;
        border: 1px solid black;
        box-sizing: border-box;
        width: calc(100% - 20px);
        margin: 0 10px {
            top: 15px;
        }
    }

    &__list {
        padding: 0 26px;
        max-height: 60vh;
        overflow: auto;
        text-decoration: none;
        margin: 20px 10px;
    }
}
