.user-profile-info-contacts {
    list-style: none;
    display: grid;
    gap: 32px;
    padding: 0;

    &__item {
        font-weight: 600;
        font-size: 12px;
        color: #1C1D20;
        display: flex;
        gap: 14px;
        align-items: center;
    }
}

.user-password {
    color: #4F8BE4;
}

.edit-button {
    cursor: pointer;
}