.user-profile-info-contacts_edit {

    height: 38px;
    display: flex;


    &__input {

        border: none;
        border-bottom: 1px solid #979DBB;
        font-size: 12px;
        line-height: 12px;
        font-weight: 400;
    }

    :focus {
        outline: none;
        border-bottom: 1px solid #4F8BE4;
    }
}