.sidebar-item {
    height: 70px;
    color: white;
    cursor: pointer;
    display: flex;
    border-radius: 12px;
    transition: color linear 0.2s, background linear 0.2s;
    justify-content: center;

    svg {
        min-width: 44px;
        margin: auto 0;
        transition: fill linear 0.2s;
    }

    &_active {
        background: white;
        width: 100%;

        svg {
            fill: #3a78f2;
        }

        .sidebar-item__text {
            color: #1c1d20;
            font-weight: 500;
        }
    }

    &__link {
        width: 100%;
        text-decoration: none;
        display: flex;

        &_collapsed {
            justify-content: center;
        }
    }

    &__text {
        padding: 0 4px;
        margin: auto 0;
        color: white;
        font-weight: 100;
        font-size: 14px;
        line-height: 23px;
        opacity: 0.8;
        letter-spacing: 0.1ex;
    }
}
