.remove-button {
    cursor: pointer;
    justify-self: end;
    height: 20px;
    grid-column: 3 / 4;

    &::after {
        content: '\274c';
    }

    &_saved-forms {
        grid-column: 6 / 7;
        height: 40px;
    }
}
