.remove-button {
    cursor: pointer;
    justify-self: end;
    width: 20px;
    grid-column: 3 / 4;

    &::after {
        content: '\274c';
    }

    &_saved-forms {
        grid-column: 7 / 8;
        width: 40px;
        transition: width linear 0.2s;

        &:hover {
            width: 42px;
        }
    }
}
