.organizer-column {
    padding: 8px;
    grid-row: 1 / 2;
    width: 272px;
    background: #f5f7fb;
    border-radius: 8px;
    border: 1px solid lightgray;
    box-sizing: border-box;

    &_dragging {
        filter: drop-shadow(-8px 8px 8px rgba(42, 83, 145, 0.15));
    }

    &__input {
        cursor: default;
        box-sizing: border-box;
        height: 24px;
        width: 100%;
        outline: none;
        border-radius: 2px;
        border: 1px solid lightgrey;
        margin-bottom: 8px;
        color: #172b4d;
        font-size: 14px;
        font-weight: 400;

        &:focus {
            border: 2px solid #4f8be4;
        }
    }

    &__title {
        padding: 0 2px;
        margin: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        color: #172b4d;
        margin-bottom: 8px;
    }

    &__tasks {
        box-sizing: border-box;
        height: calc(100% - 32px);
        border-radius: 8px;
        list-style: none;
        padding: 8px;
        display: grid;
        gap: 8px;

        &_dragging-over {
            background: #4f8be4;
        }
    }
}
