.organizer-column {
    grid-row: 1 / 2;
    width: 272px;
    // background: #f5f7fb;
    border-radius: 8px;
    border: 1px solid lightgray;

    &__title {
        padding: 4px 0 0;
        margin: 0;
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        color: #172b4d;
    }

    &__tasks {
        list-style: none;
        padding: 8px;
        display: grid;
        gap: 4px;
    }
}
