.form-element-subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    padding: 0;
    color: rgba(38, 50, 56, 1);

    &_input {
        resize: none;
        border-radius: 10px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        border: 1px solid black;

        &::placeholder {
            color: rgba(38, 50, 56, 1);
            opacity: 0.3;
        }

        &:disabled {
            & + .form-element-drag-button {
                grid-row: span 2;
            }

            &::placeholder {
                opacity: 1;
            }
        }
    }

    &_title {
        padding: {
            bottom: 24px;
        }
        margin: 0;
    }
}
