.constructor-form-element-checkbox-required {
    color: #979dbb;
    font-size: 11px;
    line-height: 20px;
    letter-spacing: 0.3px;
    display: flex;
    flex-direction: row;
    cursor: pointer;
    justify-self: center;
    align-self: center;

    &:hover {
        color: #4f8be4;

        & .constructor-form-element-checkbox-required__checkbox {
            border: 1px solid #4f8be4;
        }
    }

    &__input {
        display: none;

        &:checked
            + .constructor-form-element-checkbox-required__checkbox::after {
            color: #4f8be4;
            content: '\2713';
        }
    }

    &__checkbox {
        cursor: pointer;
        height: 20px;
        width: 20px;
        border: 0.5px solid #a9abba;
        border-radius: 6px;
        margin: 0 {
            left: 4px;
        }
        text-align: center;
        line-height: 20px;
        font-size: 18px;
        box-sizing: border-box;
    }
}
