.auth-form {
    display: grid;

    &__label {
        color: #979dbb;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.3px;
        padding: {
            left: 16px;
            bottom: 8px;
        }
    }

    &__input {
        height: 48px;
        outline: none;
        padding: 16px 18px;
        background: #f5f7fb;
        border: 0.5px solid #a9abba;
        border-radius: 6px;
        box-sizing: border-box;

        &::placeholder {
            color: #a9abba;
            font-size: 11px;
            line-height: 12px;
            letter-spacing: 0.3px;
        }

        &:hover {
            border: 1px solid #4f8be4;
        }

        &:focus {
            border: 1px solid #4f8be4;
        }

        &:valid {
            border: 1px solid #3fac50;
        }

        &-invalid {
            border: 1px solid #e84141 !important;
        }
    }

    &__error {
        color: #e84141;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.3px;
        padding: 4px 16px 12px;
    }
}
