.form-element {
    display: grid;
    cursor: default;
    grid-template: auto / minmax(270px, 1fr) minmax(0, 150px) 25px;
    margin: {
        bottom: 10px;
    }

    &:hover {
        background: rgba(128, 128, 128, 0.2);
        border-radius: 10px;
    }

    &__dragable-img {
        height: 20px;
        margin: {
            left: 5px;
        }
        justify-self: end;
        align-self: center;
        grid-column: 3 / 4;
        cursor: grab;
    }
}
