.form-element {
    display: grid;
    cursor: grab;
    grid-template: auto / 95% 5%;

    &:hover {
        background: rgba(128, 128, 128, 0.2);
        border-radius: 10px;
    }

    &__checkbox-label {
        cursor: pointer;
        height: 29px;
        width: 29px;
        border: 1px solid rgba($color: #000, $alpha: 1) {
            radius: 10px;
        }
        margin: {
            bottom: 17px;
        }
        text-align: center;
        line-height: 29px;
        font-size: 29px;
        grid-column: 1 / 2;

        // &::after {
        //     content: '\2713';
        // }
    }

    &__remove-btn {
        cursor: pointer;
        justify-self: end;

        &::after {
            content: '\274c';
        }
    }

    &__input {
        background: none;
        height: 51px;
        margin-bottom: 17px;
        box-sizing: border-box;
        padding: 0 26px;
        border-radius: 10px;
        border: 1px solid black;
        grid-column: 1 / 3;

        &:hover {
            border: 1px solid black;
        }

        &:disabled {
            background: none;
            border-radius: 10px;
            cursor: grab;
        }

        &_type {
            &_label {
                padding: 0;
                height: 24px;
                border: none;
                margin-bottom: 7px;
                font-size: 15px;
                line-height: 24px;
                grid-column: 1 / 2;

                &:disabled {
                    &:hover {
                        border: none;
                    }
                }
            }

            &_checkbox {
                display: none;

                &:checked + .form-element__checkbox-label::after {
                        content: '\2713';
                }

                &:disabled + .form-element__checkbox-label {
                    background: none;
                    border-radius: 10px;
                    cursor: grab;
                }
            }
        }
    }
}
