.form-element {
    display: grid;
    cursor: default;
    grid-template: auto / minmax(270px, 1fr) minmax(0, 150px) 25px;
    margin: {
        bottom: 10px;
    }

    &:hover {
        background: rgba(128, 128, 128, 0.2);
        border-radius: 10px;
    }

    &__checkbox-label {
        grid-column: 1 / 2;
    }

    &__custom-checkbox {
        cursor: pointer;
        height: 29px;
        width: 29px;
        border: 1px solid rgba($color: #000, $alpha: 1) {
            radius: 10px;
        }
        margin: {
            top: 7px;
            bottom: 7px;
        }
        text-align: center;
        line-height: 29px;
        font-size: 29px;
    }

    &__required {
        &-title {
            display: flex;
            flex-direction: row;
            cursor: pointer;
            justify-self: center;
            align-self: center;
        }

        &-checkbox {
            display: none;

            &:checked + .form-element__required-custom-checkbox::after {
                content: '\2713';
            }
        }

        &-custom-checkbox {
            cursor: pointer;
            height: 15px;
            width: 15px;
            border: 1px solid rgba($color: #000, $alpha: 1) {
                radius: 5px;
            }
            margin: 0 {
                top: 4px;
                left: 10px;
            }
            text-align: center;
            line-height: 15px;
            font-size: 15px;
        }
    }

    &__remove-btn {
        cursor: pointer;
        justify-self: end;
        height: 20px;

        &::after {
            content: '\274c';
        }
    }

    &__dragable-img {
        height: 20px;
        margin: {
            left: 5px;
        }
        justify-self: end;
        align-self: center;
        grid-column: 3 / 4;
        cursor: grab;
    }

    &__input {
        background: none;
        height: 51px;
        margin: {
            top: 7px;
            bottom: 7px;
        }
        box-sizing: border-box;
        padding: 0 26px;
        border-radius: 10px;
        border: 1px solid black;
        grid-column: 1 / 3;

        &:hover {
            border: 1px solid black;
        }

        &:disabled {
            background: none;
            border-radius: 10px;
        }

        &_type {
            &_label {
                padding: 0;
                height: 24px;
                border: none;
                font-size: 15px;
                line-height: 24px;
                grid-column: 1 / 2;
                margin: 0;

                &:disabled {
                    &:hover {
                        border: none;
                    }
                }
            }

            &_checkbox {
                display: none;

                &:checked + .form-element__custom-checkbox::after {
                    content: '\2713';
                }

                &:disabled + .form-element__custom-checkbox {
                    background: none;
                    cursor: default;
                }
            }

            &_textarea {
                padding: {
                    top: 12px;
                    bottom: 12px;
                }
                resize: none;
            }
        }
    }
}
