.form-element {
  display: grid;

  &__input {
    height: 51px;
    margin-bottom: 17px;
    box-sizing: border-box;
    padding: 0 26px;
    border-radius: 10px;
    border: 1px solid black;

    &:disabled {
      background: none;
      border: 1px solid black;
      border-radius: 10px;
    }

    &_type {
      &_label {
        padding: 0;
        height: 24px;
        border: none !important;
        margin-bottom: 7px;
        font-size: 15px;
        line-height: 24px;
      }
    }
  }
}