.calculate-input {
    cursor: default;
    grid-column: 1/3;
    display: grid;
    gap: 8px;
    grid-template-columns: auto 50px;

    &__case {
        height: 31px;
        border: 0.5px solid #a9abba;
        border-radius: 6px;
        display: grid;
        padding: 8px;
        gap: 8px;
        grid-template-columns: repeat(auto-fit, 32px);
        grid-template-rows: 26px;
        overflow: scroll;
        overflow-y: hidden;

        &_valid {
            border: 1px solid #4f8be4;
        }

        &_invalid {
            border: 1px solid #e84141;
        }
    }

    &__icon {
        cursor: pointer;
        border: 0.5px solid #a9abba;
        border-radius: 6px;
        background: #fff;

        &:hover {
            fill: #4f8be4;
            border: 1px solid #4f8be4;
        }
    }

    &__signs {
        height: 31px;
        grid-column: 1 / 3;
        border: 0.5px solid #a9abba;
        border-radius: 6px;
        display: grid;
        padding: 8px;
        gap: 8px;
        grid-template-columns: repeat(auto-fit, 32px);
        overflow: scroll;
        overflow-y: hidden;
    }

    &__sign {
        user-select: none;
        grid-row: 1 / 2;
        cursor: grab;
        margin: 0;
        height: 26px;
        text-align: center;
        font-weight: 600;
        border-radius: 6px;
        white-space: nowrap;

        &_nodrop {
            cursor: pointer;
        }

        &:hover {
            outline: 0.5px solid #a9abba;
            background: #fff;
        }
    }
}
