.form-element-tel {
    background: none;
    height: 51px;
    margin: 7px 0;
    box-sizing: border-box;
    padding: 0 26px;
    border-radius: 10px;
    border: 1px solid black;
    grid-column: 1 / 3;
}
