.user-profile-documents {
    @keyframes file {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    &-upload {
        font-weight: 600;
        font-size: 12px;
        line-height: 14px;

        label {
            cursor: pointer;
            color: #4f8be4;
        }

        &__caption {
            color: #a9abba;
        }

        input {
            display: none;
        }
    }

    &-files {
        margin-top: 10px;
        // display: flex;
        // flex-direction: row;
        // gap: 12px;
        display: grid;
        grid-template-columns: repeat(4, 100px);
        gap: 12px;
    }
}
