.filter {
    border: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template: 1fr / 10% 1.5% 10% 10% 10% 14% 14% 14% 14%;

    &__legend {
        margin: 0;
        font-size: 15px;
        line-height: 24px;
        color: rgba($color: #000, $alpha: 0.8);
        padding: {
            left: 6px;
            bottom: 9px;
        }
    }

    &__input {
        padding: {
            left: 10%;
        }
        border: 1px solid #999;
        box-sizing: border-box;
        border-radius: 3px;
        height: 27px;
        width: 90%;

        &::placeholder {
            size: 14px;
            line-height: 24px;
            color: rgba($color: #000, $alpha: 0.8);
        }
    }
}
