.form-element-range {
    &__field {
        display: flex;
        grid-column: 1 / 3;
    }

    &__input {
        margin: 7px 0;
        box-sizing: border-box;
        padding: 0;
        width: 80%;
        height: 40px;

        &_minmax {
            border-radius: 10px;
            border: 1px solid black;
            text-align: center;
            padding: 5px;
            width: 10%;
        }
    }
}
