.checkbox {
    grid-column: 1 / 2;

    &__input {
        display: none;

        &:checked + .checkbox__custom-checkbox::after {
            content: '\2713';
        }

        &:disabled + .checkbox__custom-checkbox {
            background: none;
            cursor: default;
        }
    }

    &__custom-checkbox {
        cursor: pointer;
        height: 29px;
        width: 29px;
        border: 1px solid rgba($color: #000, $alpha: 1) {
            radius: 10px;
        }
        margin: 7px 0;
        text-align: center;
        line-height: 29px;
        font-size: 29px;
    }
}
