.button {
    cursor: pointer;
    color: #4f8be4;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.3px;
    background: none;
    width: 100%;
    border: 1px solid #4f8be4 {
        radius: 6px;
    }
    height: 36px;
    transition: opacity linear 0.2s;

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &_type {
        &_filled {
            color: white;
            background: #4f8be4;
        }
    }
}
