.button {
    cursor: pointer;
    height: 36px;
    width: 100%;
    color: white;
    background: #4f8be4;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.3px;
    transition: opacity linear 0.2s;
    border: 1px solid #4f8be4 {
        radius: 6px;
    }

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &_type {
        &_hollow {
            background: none;
            color: #4f8be4;
        }

        &_light-grey {
            background: #f5f7fb;
            color: #979dbb;
            border: none;
        }
    }
}
