.constructor-form-element-label-input {
    letter-spacing: 0.3px;
    padding: {
        left: 16px;
    }
    height: 20px;
    font-size: 12px;
    line-height: 24px;
    box-sizing: border-box;
    grid-column: 1 / 2;

    background: #f5f7fb;
    border: 0.5px solid #a9abba;
    border-radius: 6px;
    outline: none;

    &:hover {
        border: 1px solid #4f8be4;
    }

    &:disabled {
        font-size: 16px;
        background: none;
        border: none;
        &:hover {
            border: none;
        }
    }
}
