.sidebar {
  position: fixed;
  top: 0;
  left: -400px;
  height: 100%;
  transition: left linear .2s;

  &_active {
    left: 0;
    width: 100%;
  }

  &__navigation {
    background: gray;
    width: 400px;
    height: 100%;
  }

  &__list {
    padding: 10px;
    margin: 0;
    list-style: none;
  }
}