.register {
  display: grid;
  padding: 120px 144px;
  justify-items: center;

  &__title {
    margin: 0;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    text-align: center;
    padding-bottom: 30px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 400;
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    padding-bottom: 80px;
  }
}