.profile-user {
    display: grid;
    grid-template-rows: 5% auto;
    width: 100%;

    &-slider {
        display: grid;
        grid-template-columns: repeat(3, 20%);

        &__item {
            cursor: pointer;
            color: #a9abba;
            font-size: 12px;
            font-weight: 600;
        }
    }

    &-documents {
        &-form {
            &__header {
                font-size: 14px;
                font-weight: 600;
            }

            &__input {
                width: 392.04px;
                height: 37.02px;
                border-radius: 4px;
                border: 0.5px solid #979DBB;
                font-size: 10px;
                background-color: #F5F7FB;
                line-height: 14px;
            }

            :focus {
                outline: none;
                border: 1px solid #4F8BE4;
            }
        }
    }
}
