.user-data-edit {
    min-width: 371px;
    min-height: 220px;
    display: grid;
    justify-items: center;
    grid-template-rows: auto;
    gap: 20px;

    &__header {
        color: #979dbb;
        font-weight: 600;
        size: 17px;
    }

    &__input {
        border: none;
        width: 100%;
        border-bottom: 1px solid #979dbb;
        font-size: 11px;
        line-height: 12px;
        font-weight: 400;

        &-invalid {
            border-bottom: 1px solid red !important;
        }
    }

    &__input:focus {
        outline: none;
        border-bottom: 1px solid #4f8be4;
    }

    &__label {
        color: #979dbb;
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
    }

    &__field {
        width: 70%;
    }

    &__error {
        font-style: italic;
        font-size: 12px;
        color: red;
        height: 10px;

        p {
            margin: 0;
        }
    }

    &__button {
        margin-bottom: 20px;
        cursor: pointer;
        user-select: none;
        height: 36px;
        width: 70%;
        color: white;
        background: #4f8be4;
        font-weight: 600;
        font-size: 11px;
        letter-spacing: 0.3px;
        transition: filter linear 0.2s;
        border: 1px solid #4f8be4 {
            radius: 8px;
        }

        &:hover {
            filter: drop-shadow(-8px 8px 8px rgba(42, 83, 145, 0.3));
        }

        &:active {
            filter: none;
        }

        &:disabled {
            cursor: not-allowed;
            opacity: 0.5;
        }
    }
}
