.blog {
  padding: 155px 9% 155px 11%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 148px;

  &__title {
    grid-column: span 2;
    margin: 0;
    padding-bottom: 72px;
    line-height: 72px;
    font-size: 48px;
    letter-spacing: -.015em;
    font-weight: normal;
  }
}
