.form-constructor {
    grid-area: userContent;
    margin: {
        top: 198px;
    }
    justify-items: center;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 'suggestedFormElements customForm';
}
