.user-profile-reference {
    width: 400px;
    display: grid;
    justify-items: center;
    padding: 20px;
    gap: 20px;

    &__title {
        margin: 0;
        justify-self: start;
        color: #4F8BE4;
        font-weight: 500;
        font-size: '17px';
    }

    &__text {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
    }
}