.report-create-item {
    background: #f2f6fc;
    border-radius: 4px;
    height: 28px;
    cursor: grab;
    text-align: center;

    &_dragging {
        filter: drop-shadow(-8px 8px 8px rgba(42, 83, 145, 0.15));
    }
}
