.handbook-popup {
    padding: 21px 35px 21px 35px;
    display: grid;
    grid-template-rows: 10% auto 11% 7%;
    min-width: 500px;
    height: 600px;
    justify-items: center;

    &__title {
        color: #1C1D20;
        font-weight: 600;
        font-size: 16px;
    }

    &__list {
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        overflow-y: auto;
    }

    &__add {
        // align-self: center;
        box-sizing: border-box;
        border: none;
        border-radius: 10px;
        width: 37px;
        height: 37px;
        font-weight: 600;
        font-size: 24px;
        line-height: 32.68px;
        color: #A0A0A0;
        cursor: pointer;
        transition: filter linear 0.2s;

        &:hover {
            filter: drop-shadow(-3px 4px 4px rgba(44, 45, 46, 0.3));
        }

        &:active {
            filter: none;
        }
    }
}