.form-element-textarea {
    resize: none;
    outline: none;
    margin: 8px 0;
    border-radius: 6px;
    grid-column: 1 / 3;
    border: 0.5px solid #a9abba;
    background: #f5f7fb;
    box-sizing: border-box;

    &::placeholder {
        color: #a9abba;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.3px;
    }

    &:hover {
        border: 1px solid #4f8be4;
    }

    &:focus {
        border: 1px solid #4f8be4;
    }

    &:valid {
        border: 1px solid #3fac50;
    }

    &:disabled {
        &:hover {
            border: 0.5px solid #a9abba;
        }
    }
}
