@media only screen and (max-width: 760px) {
    .user-home {
        &-list {
            grid-template-columns: repeat(auto-fit, minmax(150px, 45%));
        }
    }

    .user-home-card {
        overflow: hidden;
    }
}
