.report-form {
    max-width: 920px;
    margin: auto;
    padding: 50px 0;

    &__field {
        display: grid;
        width: 100%;

        &_checkbox {
            grid-template-columns: 34px calc(100% - 34px);
        }
    }

    &__label {
        color: #979dbb;
        font-size: 11px;
        line-height: 12px;
        letter-spacing: 0.3px;
        padding: {
            left: 16px;
        }
        height: 12px;

        &_checkbox {
            grid-column: 2 / 3;
            margin: auto 0;
        }
    }

    &__sign-required {
        height: 12px;
        font-size: 11px;
        line-height: 12px;
        margin: 0;
        justify-self: end;
        grid-column: 2 / 3;
    }
}
