.organizer-month-title {
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    left: 0;
    margin: 0;
    margin-right: auto;
    border-left: 1px solid lightgrey;
    padding: 0 8px;
    grid-row: 1 / 2;
}
