.form-element-header {
    height: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    color: rgba(133, 92, 248, 1);

    &_input {
        border-radius: 10px;
        grid-column: 1 / 3;
        grid-row: 1 / 3;
        border: 1px solid black;

        &::placeholder {
            color: rgba(133, 92, 248, 1);
            opacity: 0.3;
        }

        &:disabled {
            font-size: 20px;

            & + .form-element-drag-button {
                grid-row: span 2;
            }

            &::placeholder {
                opacity: 1;
            }
        }
    }

    &_title {
        padding: {
            bottom: 24px;
        }
        margin: 0;
    }
}
