// .searchbar {
//     display: flex;

//     &__input {
//         height: 46.5px;
//         width: 265.5px;
//         border: none;
//         border-radius: 8px;
//         padding: {
//             left: 19.16px;
//         };
//         background: url(./search.svg) no-repeat right 10px center #F5F7FB;
//     }
// }

.profile-searchbar {
    grid-column: 2 / 3;
    place-self: center;

    &__input {
        padding: {
            left: 1vw
        };
        border: none;
        border-radius: 8px;
        background: url(./search.svg) no-repeat right 10px center #F5F7FB;
        min-height: 4vh;
        min-width: 20vw;
    }

    &__input:focus {
        outline: none;
    }
}