@mixin scrollbars(
    $size,
    $foreground-color,
    $background-color: mix($foreground-color, #f5f7fb, 0%)
) {
    ::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        border-radius: 500px;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }
}

@include scrollbars(5px, #b6d3ff);

@font-face {
    font-family: 'RobotoRegular';
    src: url(./assets/fonts/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: 'RobotoRegularItallic';
    src: url(./assets/fonts/Roboto/Roboto-Italic.ttf);
}

@font-face {
    font-family: 'RobotoLight';
    src: url(./assets/fonts/Roboto/Roboto-Light.ttf);
}

@font-face {
    font-family: 'RobotoLightItallic';
    src: url(./assets/fonts/Roboto/Roboto-LightItalic.ttf);
}

@font-face {
    font-family: 'RobotoMedium';
    src: url(./assets/fonts/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: 'RobotoMediumItallic';
    src: url(./assets/fonts/Roboto/Roboto-MediumItalic.ttf);
}

@font-face {
    font-family: 'RobotoBold';
    src: url(./assets/fonts/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: 'RobotoBoldItallic';
    src: url(./assets/fonts/Roboto/Roboto-BoldItalic.ttf);
}

body {
    margin: 0;
    // font-family: 'Ubuntu', 'Roboto', sans-serif;
    font-family: 'RobotoRegular';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}
