.blog-card {
  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    padding: 60px 0 24px;
  }

  &__paragraph {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin: 0;
    padding-bottom: 32px;
  }
}